<h1 class="text-center p-5">INDEX</h1>

<h2 class="text-center p-2">ELIGE COMO VER LOS PRODUCTOS </h2>
<div class="d-flex justify-content-center">
    <a href='/home' class="col-3 btn btn-warning m-3">Ver lista HTTP</a>
    <a href='/realtimeproducts' class="col-3 btn btn-warning m-3">Ver Real Time Products</a>

</div>